<div>
    <mat-card>
        <mat-card-header fxLayoutAlign="center">
            <mat-card-title>Find the highest prime number lower than the input number</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="form" (submit)="onSubmit()" fxLayout="column" fxLayoutAlign="center center">
                <div>
                    <mat-form-field>
                        <input type="number" matInput placeholder="Number" formControlName="number" min="0" max="{{maxNumber}}">
                    </mat-form-field>
                    <mat-error *ngIf="number.hasError('min')">Please input number > 0</mat-error>
                    <mat-error *ngIf="number.hasError('max')">Please input number <= {{maxNumber}}</mat-error>
                </div>
                <div>

                </div>
                <div>
                    <mat-error *ngIf="error">
                        {{ error }}
                    </mat-error>
                </div>
                <div>
                    <button type="submit" mat-stroked-button color="accent" [disabled]="!form.valid || loading">Submit</button>
                </div>
            </form>
            <br>
            <div *ngIf="highestPrimeNumber" fxLayoutAlign="center">
                The highest prime number lower than your input number is: {{highestPrimeNumber}}
            </div>

        </mat-card-content>
    </mat-card>
</div>