<div style="text-align: center;">
    <h1>About Prime Demo</h1>
    <p>Author: ngocdiep02tk@gmail.com</p>
    <p><a href="https://gitlab.com/nndiep/prime-demo" target="_blank">Source code</a></p>
</div>