<div class="toolbar" role="banner">
  <mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['home']">
        <mat-icon mat-list-icon>home</mat-icon>Home
      </a>
    </mat-nav-list>
    <span fxFlex></span>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['about']">
        <mat-icon mat-list-icon>info</mat-icon>About
      </a>
    </mat-nav-list>
  </mat-toolbar>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>